# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
*.lock

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
.history/

# Android related
android/.gradle/
android/captures/
android/.idea/
android/.settings/
android/local.properties
android/key.properties
android/*.keystore
android/app/*.keystore
android/app/google-services.json

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/.generated/
ios/Pods/
ios/Podfile.lock

# Linux related
linux/flutter/
linux/CMakeFiles/
linux/Makefile
linux/ephemeral/

# MacOS related
macos/Flutter/
macos/Pods/
macos/Podfile.lock
macos/ephemeral/

# Windows related
windows/flutter/
windows/CMakeFiles/
windows/Makefile
windows/ephemeral/

# Web related
web/.dart_tool/

# Firebase
*.firebase/
**/google-services.json
**/GoogleService-Info.plist

# Misc
*.log
*.tmp
*.swp
*.DS_Store
*.lock

